---
import Layout from "../layouts/Layout.astro";
import NewNavbar from "../components/NewNavbar.astro";
import Profile_pic from "../Images/About_picture.jpg";
import Random2 from "../Images/Random 2.jpg"
---

<Layout>
<NewNavbar />

<section class="personal-bio">

    <div class="about-design">
        
        <img src = {Random2.src} alt="profile picture">
        
        <div class = "design-description">
            <h2 class="design-title">ABOUT AT INTERIOR DESIGN</h2>
            <p>Hello and welcome to Alessia Trevisan design - a destination for those in search of understated minimal style, everyday luxury and enduring modern design. Exploring contemporary interiors, architecture, design and lifestyle products, AT Design offers a stylish view of beautiful spaces and places through a carefully created edit of news, finds and inspiration.
            </p>
        </div>
    </div>

    
    <div class = "about-at">
        <div class = "profile-picture">
            <img src = {Profile_pic.src} alt="profile picture" width="400px" height = "400px">
        </div>
        <div class ="profile-description">
            <h2>ABOUT ALESSIA TREVISAN</h2>
            <p >An interiors designer, photographer, traveller. Alessia works on social media and content creation projects from her home in London. 

            AT Interior Design reflects Alessia's love of objects that are simple and honest in their design and use of materials, and her belief that the things we choose to live with should help create a home that is inviting, restful and a place of sanctuary. </p>
        </div>
    </div>
    
</section>
<section class = "services">
        <h2>AT Interior Design can advise on</h2>
        <p> Furniture and home decor selection and placement <br>
            Floor plan layout <br>
            Styling (surfaces, sofas, beds, walls etc.) <br>
            Paint/wall treatments and drapery/window treatments <br>
            Cabinetry and built-ins <br>
            Fixtures, finishes and trims <br>
            Construction and remodel ideas <br>
            Exterior design <br>
        </p>
</section>


<style>

    .personal-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal-bio h2 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .personal-bio p {
        font-style: italic;
        line-height: 1.9em;
        text-align: justify;
        /* text-align: center; */
        margin-top: 20px;
    }

    .about-design {
        /* border: dotted purple; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 10%;
    }

    .about-design img {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
    }

    .design-description{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5%;
       
    }

    .about-at {
        /* border: dotted purple; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
        align-items: flex-start;
        margin: 20px 10%;

    }

    .profile-description {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5%;
    }


    .services {
        background-color: #efddcf;
         /* border: dotted purple; */
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        font-style: italic;
        line-height: 1.9em;

        margin-top: 20px;
        padding:20px;
    }

    .services p {
        padding-top: 1em;
    }


    @media only screen and (max-width: 1024px) {
        .about-at {
            flex-direction: column;
            align-items: center;
            }
        }


</style>
</Layout>
