---
import Layout from "../layouts/Layout.astro";
import Project_sample1 from "../Images/Project_sample1.png"
import Project_sample2 from "../Images/Project_sample2.png"


---
<Layout>
    <header>
        <nav class = "topnav">
            <p class ="brand-name">AT <br> 
            Interior <br>
            Design <br>
            </p>
            <a href = "#" class = "toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <ul class = "navbar-links">
                <li class = "dropdown">
                    <a href="#">Projects</a>
                    <div class="dropdown-content">
                        <a href="/AT_website/resProjects">Residential</a>
                        <br>
                        <a href="/AT_website/hosProjects">Hospitality</a>
                    </div>
                </li>
                <li><a href="/AT_website/about">About</a></li>
                <li><a href="/AT_website/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="description">
            <article>
                <div class="bio">
                    <p>This is a brief description of the service and products you offer. <br> The type of design that makes you unique. <br> The experience that led you to here...<a href="/AT_website/about">LEARN MORE</a></p>      
                </div>
            </article>
        </section>
        <section>
            <div class="projects" >
                <div class = "project-section">
                    <a href ="/AT_website/hosProjects"><img src= {Project_sample1.src} width="500px" height="300px" alt ="hospitality project preview viking cruise ship"></a>
                    <p>Hospitality projects</p>
                </div>
    
                <div class = "project-section">
                    <a href ="/AT_website/resProjects"><img src={Project_sample2.src} width="500px" height="300px" alt ="residential project preview london home hall" ></a>
                    <p>Residential projects</p>
                </div>
            </div>
        </section>       
    </main>
    <script>
        const toggleButton = document.getElementsByClassName("toggle-button")[0];

        const navbarLinks = document.getElementsByClassName("navbar-links")[0];

        toggleButton.addEventListener("click", () => {
            //console.log(navbarLinks)
        navbarLinks.classList.toggle("active")
        })
    </script>
    <style>
        
    header {
        /* The image used */
        background-image: url("../Images/Opening_project1.png");
    
        min-height: 800px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    
    .topnav {
        margin: 20px;
        width: auto;
    
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
    }
    
    .brand-name {
        color: #f2f2f2;
        font-size: 3rem;
    
        /* To aligh the nav links on the right */
        margin-left: 0;
        margin-right: auto;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .topnav li a {
        text-decoration: none;
        color: #f2f2f2;
        font-size: 1.5rem;
        padding: 14px 16px;

    }
      
    .topnav li a:hover {
        color: black;
        text-decoration: underline;
    }

/* hamburger menu style */

    .toggle-button {
        position:absolute;
        top: .7rem;
        right: 1rem;

        display:none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width:100%;
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    
/* Dropdown element */
    
    .dropdown-content {
        display: none; 
        position: absolute;
        top: 40px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        text-align: left;
        height: 40px;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


/* main description  section */

    .description {
        margin: 10%;

        font-size: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bio p {
        text-align: center;
    }

    .bio p a:hover{
        text-decoration: underline;
    }

/* main projects section  */

    .projects{
        margin-bottom: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .project-section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .project-section p {
        margin: 5px;

        font-size: 1.5rem;
        color: #333

    }

/* main projects media queries */
    
    @media (max-width: 1050px) {
        .projects {
            display: flex;
            flex-direction: column;
        }
        
    }

/* navbar media queries */
    
    @media (max-width: 565px) {
        .toggle-button {
            display: flex;
        }

        .navbar-links {
            display: none; 
        }
        
        .navbar-links {
            flex-direction: column;
        }

        /* to be shown on click event when active class is added */
        .navbar-links.active{
            display: flex;
        }
    }

    </style>
</Layout>
