---
import Layout from "../layouts/Layout.astro";
import Project_sample1 from "../Images/Project_sample1.png"
import Project_sample2 from "../Images/Project_sample2.png"


---
<Layout>
    <header>
        <nav class = "topnav">
            <p>AT <br> 
            Interior <br>
            Design <br>
            </p>
            <ul>
                <li class = "dropdown">
                    <a href="#">Projects</a>
                    <div class="dropdown-content">
                        <a href="./resProjects">Residential Projects</a>
                        <a href="./hosProjects">Hospitality Projects</a>
                    </div>
                </li>
                <li><a href="./about">About</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="description">
            <article>
                <div class="bio">
                    <p>This is a brief description of the service and products you offer. <br> The type of design that makes you unique. <br> The experience that led you to here...<a href="./about">LEARN MORE</a></p>      
                </div>
            </article>
        </section>
        <section>
            <div class="projects" >
                <div class = "project-section">
                    <a href ="./hosProjects"><img src= {Project_sample1.src} width="500px" height="300px" alt ="hospitality project preview viking cruise ship"></a>
                    <p>Hospitality projects</p>
                </div>
    
                <div class = "project-section">
                    <a href ="./resProjects"><img src={Project_sample2.src} width="500px" height="300px" alt ="residential project preview london home hall" ></a>
                    <p>Residential projects</p>
                </div>
    
            </div>
        </section>       
    </main>
    <style>
        
    header {
        /* The image used */
        background-image: url("../Images/Opening_project1.png");
    
        min-height: 800px;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    
    .topnav {
        margin: 20px;
        width: auto;
    
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
    }
    
    .topnav p {
        color: #f2f2f2;
        font-size: 3rem;
    
        /* To aligh the nav links on the right */
        margin-left: 0;
        margin-right: auto;
    }

    .topnav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .topnav li a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
    }
      
    .topnav li a:hover {
        color: black;
        text-decoration: underline;
    }

    
    /* Dropdown element */
    
    .dropdown-content {
        display: none; 
        position: absolute;
        top: 40px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        text-align: left;
        height: 40px;

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }



    /* main description  section */

    .description {
    margin: 10%;

    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .bio p {
    text-align: center;
}

    .bio p a:hover{
    text-decoration: underline;
}
/* main projects section  */

    .projects{
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .project-section {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .project-section p {
    margin: 5px;

    font-size: 1.5rem;
    color: #333

}

    </style>
</Layout>
