<footer>
    <div class="footer-container">
        <p>Get in touch</p>
        <div class="social-media">
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
        <small>Copyright &copy; <span id="copyright"></span> | All rights reserved</small>
    </div>
</footer>

<script>
    document.querySelector("#copyright").textContent = 
    new Date()
    .getFullYear()
    .toString()
</script>
<style>

/*footer styling */
footer {
    background-color: var(--color-primary);
    min-width: 100%;

    display: flex;
    
    justify-content: center;
    align-items: center;

}

.footer-container {
    color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.footer-container p{
    padding: 5px;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.fa-instagram, .fa-linkedin {
    padding: 10px;
}

small {
    color: #f2f2f2;
}

small span {
    color: #f2f2f2;
}

</style>