<header>
    <nav class = "topnav">
        <p class ="brand-name" ><a href="/AT_website/">AT Interior Design</a></p>

        <a href = "#" class = "toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <ul class = "navbar-links">
            <li><a href="/AT_website">Home</a></li>
            <li><a href="/AT_website/resProjects">Residential</a></li>
            <li><a href="/AT_website/hosProjects">Hospitality</a></li>
            <!-- <li class = "dropdown">
                <a href="#">Projects</a>
                <div class="dropdown-content">
                    <a href="/AT_website/resProjects">Residential Projects</a>
                    <a href="/AT_website/hosProjects">Hospitality Projects</a>
                </div>
            </li> -->
            <li><a href="/AT_website/about">About</a></li>
            <li><a href="/AT_website/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<script>
    const toggleButton = document.getElementsByClassName("toggle-button")[0];

    const navbarLinks = document.getElementsByClassName("navbar-links")[0];

    toggleButton.addEventListener("click", () => {
        console.log(navbarLinks)
    navbarLinks.classList.toggle("active")
    })
</script>
<style>

header {
    position: relative;
    overflow: hidden;
}

.topnav {
    margin: 20px;
    width: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

}

.brand-name {
    color: #333;
    font-size: 3rem;
}

.navbar-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.topnav li a {

    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav li a:first-child {
    padding-left: 0;
}

  
.topnav li a:hover {
    color: black;
    text-decoration: underline;
}

/* hamburger menu style */

.toggle-button {
        position:absolute;
        top: .7rem;
        right: 1rem;

        display:none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width:100%;
        background-color: #333;
        border-radius: 10px;
    }

/* dropdown menu on projects */

/* .dropdown-content {
        display: none; 
        position: relative;
        z-index: 1;

    }
    
.dropdown-content a {
        color: black;
        text-align: left;
        height: 10px;

    }

.dropdown:hover .dropdown-content {
        display: block;
    } */


/* media queries */
    
    @media (max-width: 565px) {
        .toggle-button {
            display: flex;
        }

        .navbar-links {
            display: none; 
        }
        
        .navbar-links {
            flex-direction: column;
        }

        /* to be shown on click event when active class is added */
        .navbar-links.active{
            display: flex;
        }
    }


</style>