<header>
    <nav class = "topnav">
        <p><a href="./">AT Interior Design</a></p>
        <ul>
            <li><a href="./">Home</a></li>
            <li class = "dropdown">
                <a href="#">Projects</a>
                <div class="dropdown-content">
                    <a href="./resProjects">Residential Projects</a>
                    <a href="./hosProjects">Hospitality Projects</a>
                </div>
            </li>
            <li><a href="./about">About</a></li>
            <li><a href="./contact">Contact</a></li>
        </ul>
    </nav>
</header>
<style>

header {
    position: relative;
    overflow: hidden;
}

.topnav {
    margin: 20px;
    width: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.topnav p {
    color: #333;
    font-size: 3rem;
}

.topnav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.topnav li a {

    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav li a:first-child {
    padding-left: 0;
}

  
.topnav li a:hover {
    color: black;
    text-decoration: underline;
}

/* dropdown menu on projects */

.dropdown-content {
        display: none; 
        position: relative;
        z-index: 1;

    }
    
.dropdown-content a {
        color: black;
        text-align: left;
        height: 10px;

    }

.dropdown:hover .dropdown-content {
        display: block;
    }


</style>